.right-side{
    width: 25%;
    margin-top: 4rem;
}
.selected-casts{
    text-align: center;
}

.done-btn{
    margin: auto;
    color: #61dafb;
    font-weight: 600;
    background-color: #282c34;
    padding: 3px 8px;
    border-radius: 7px;
    border: 2px solid #61dafb;
    transition: all 0.3s ease-in;
    outline: none;
}
.done-btn:hover{
    color: #282c34;
    background-color: #61dafb;
    transform: translate(-2px,-2px);
}
.done-btn:active{
    transform: translate(3px,3px);
}

/* for disabling the btn */
.disabled{
    cursor: no-drop !important;
}
.disabled:hover{
    color: #61dafb;
    background-color: #282c34;
    transform: translate(0px,0px);
}